.detail-card {
    margin-top: 40px;
}

.content-card {
    padding: 16px;
    h3 {
        margin: 0px !important;
        color: #666666;
        font-size: 16px;
    }
}

.diagnosis {
    padding: 16px 0 0 16px;
}
